%h1 Restaurant Finder

-#= form_tag restaurant_path, :method => :get do
-#  Include: 
-#  - @all_environments.each do |environment|
-#    = environment
-#    = check_box_tag "environments[#{environment}]", environment, @selected_environments.include?(environment)
-#  = submit_tag 'Refresh', id: "environment_submit"
  
= form_tag restaurant_index_path, :method => :get, :id => 'search_form' do

  Include: 
  - @all_environments.each do |environment|
    = check_box_tag "environments[#{environment}]", 1, @selected_environments.include?(environment), :id => "environments_#{environment}"
    = environment
  = submit_tag 'Search', :id => 'search_submit'

%table#restaurants
  %thead
    %tr
      %th Restaurant Title
      %th Cuisine Type
      %th Price Range
  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= link_to restaurant.title
        %td= restaurant.cuisine
        %td= restaurant.price_range
    
        
