-#<%= javascript_include_tag :application %>

%h1 Restaurant Finder

= form_tag root_path, :method => :get, :id => 'search_form' do
  %p#menu
  Cuisine:
  = select_tag "cuisines[]", options_for_select(@all_cuisines.collect), :id => "cuisines", :multiple => true
  %p    
  Environment: 
  - @all_environments.each do |environment|
    = check_box_tag "environments[#{environment}]", 1, @selected_environments.include?(environment), :id => "environments_#{environment}"
    = environment
  %p
  Price Range:
  - @all_price_ranges.each do |range|
    = radio_button_tag "range","#{range}",:prices => @selected_ranges.include?(range),  :id => "ranges#{range}"
    =range
  
  = submit_tag 'Search', :id => 'search_submit'
%p
%table#restaurants
  %thead
    %tr
      %th Restaurant Title
      %th Cuisine Type
      %th Price Range
  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.title 
        %td= restaurant.cuisine
        %td= restaurant.price_range
        
